.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Define color palette
$primary-color: #8B0000;
$secondary-color: #008080;
$background-default: #fdf5e6;
$paper-color: #fffaf0;
$checkmark-color: #fff;
$border-color: #000;

// Define typography styles
@mixin typography-georgia {
  font-family: 'Georgia', serif;
}

@mixin typography-caudex {
  font-family: 'Caudex', serif;
}

@mixin h1-style {
  font-size: 2rem;
  font-weight: bold;
}

@mixin body1-style {
  font-size: 1rem;
}

// Component styles
.list-item {
  &.selected {
    color: $primary-color;
    font-weight: bold;
  }
}

.checkbox {
  border-color: $border-color;

  &:not(.checked) {
    background-color: #fff;
    border-color: $border-color;
  }

  &.checked {
    background-color: $primary-color;
    border-color: $border-color;
    color: $checkmark-color;
  }
}


body {
  background-color: $background-default;
}

.paper {
  background-color: $paper-color;
}

h1 {
  @include typography-georgia;
  @include h1-style;
}

.body-text {
  @include typography-caudex;
  @include body1-style;
}

// Extending your SCSS with navigation styles

.app-bar {
  background-color: $primary-color; // Dark background for the navbar
  padding: 10px 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link, .nav-link {
  color: $paper-color; // Light blue links
  text-decoration: none;
  margin-right: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.nav-section {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-button {
  background: none;
  border: none;
  color: #fff; // White text for buttons
  &:hover{
    background-color: $secondary-color;
    color: #fff;
  }
  cursor: pointer;
  margin-left: 20px;
  padding: 10px 15px;

  &:hover {
    background-color: #61dafb; // Light blue background on hover
    color: #282c34; // Dark text on hover
  }
}

.dropdown-menu {
  display: none; // Initially hide the dropdown
  position: absolute;
  left: 0;
  top: 100%;
  background-color: $paper-color; // Light background for the dropdown
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Add some shadow for depth
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 5px;
}

.dropdown-item {
  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
  color: #282c34; // Dark text for dropdown items
  padding: 10px 20px;
  text-decoration: none;
  display: block;

  &:hover {
    background-color: #61dafb; // Light blue background on hover
    color: #fff; // White text on hover
  }
}

// Show the dropdown menu when hovered
.nav-button:hover + .dropdown-menu, 
.dropdown-menu:hover {
  display: block;
}
